@import "https://unpkg.com/open-props"; /* used as reference */
/* variables can be accessed with var(nameOfVar) */
:root {
    --main-color: black;
    --default-margin: 10px;
    --default-padding: 20px;
    --default-border: 3px;
    --default-borederradius: 20px;
}

@font-face {
    font-family: becky;
    src: url(/Fonts/becky-tahlia-font/BeckyTahlia-MP6r.ttf);
    font-display: swap;
}

body {
    font-family: 'Times New Roman', Times, serif, becky, sans-serif;
    color: rgb(0, 0, 0);
    max-width: 1140px;
    margin: auto;
}

/* Animation */
@keyframes colorchange {
    from { color: blue; }
    to { color: purple; }
}

.top-resume {
    display: block;
    /* Animation */
    animation-name: colorchange;    
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.top-resume:hover {
    /* Transition */
    transition-property: font-size, background-color;
    transition-duration: 5s;
    font-size:x-large;
    background-color: lightblue;
    transform: rotate(-3deg);
}

header {
    margin: var(--default-margin);
    border: var(--default-border) solid grey;
    border-radius: var(--default-borederradius);
    text-align: center;
    padding: 5px;
    background-color:lightseagreen;
}

h2, .awards, footer {
    text-decoration: underline;
}

img {
    /* images */
    border: var(--default-border) solid teal;
    border-radius: var(--default-borederradius);
    filter: contrast(1);
    filter: brightness(1.7);
}

#profileFigure {
    border: var(--default-border) solid lightslategrey;
    border-radius: var(--default-borederradius);
    padding: var(--default-padding);
    color: lightslategrey;
    text-align: center;
    float: left;
}

img::after {
    /* image foreground */
    position: absolute;
    background-color: lightgray;
    border: 0.1cm solid black;
    content: "Image could not load";
}

/* media query */
@media (height > 600px) {
    img {
      margin: auto;
    }
  }

img:hover {
    box-shadow: 0 0 2px 4px lightslategrey;
}

#name {
    font-family: becky, cursive;
    font-size: 5em;
    text-align: center;
    /* border: 3px solid red; */
    float:inline-start;
    color: lightslategrey;
} 

.contact {
    display: flex;
    flex-direction: column;
    float: right;
    padding: var(--default-padding);
}

#download{
    float: right;
    padding: var(--default-padding);
}

@media screen {
    #titleInfo{
    background-color: lightslategrey;
    color: white;
    font-size:large;
    border-collapse:separate;
    border-spacing: 20px;
    width: 20cm;
    }
}

.core {
    margin-left: -20px;
}

.spacing {
    float: right;
}

.experince {
    border: var(--default-border) solid lightslategrey;
    padding: var(--default-padding);
    border-radius: var(--default-borederradius);
}

#container {
    display: grid;
    grid-template-columns: 3fr 8fr; 
    grid-gap: 20px;
    grid-template-areas: "skills experince";
}

#skills {
    grid-area: skills;
    padding: var(--default-padding);
}

#events {
    grid-area: experince;
}

.awards, footer {
    border: var(--default-border) solid lightslategrey;
    border-radius: var(--default-borederradius);
    padding: var(--default-padding);
    margin: var(--default-margin);

}

.contact, #download {
    margin: -0.3cm;
}

main {
    margin-top: -0.5cm;
}